@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
}

#header-title {
    font-family: 'Pacifico', cursive;
}

/* .test {
    background-image: url(/assets/HeartAnimationMin.png);
}

.heart {
    background-image: url(/assets/HeartAnimationMin.png);
}

.testimonial {
    background-image: url(/assets/HeartAnimationMin.png);
    background-repeat: no-repeat;
} */

.heart-div {
    margin-top: -50px;
}

.heart-div img {
    width: 50px;
}
